.block {
    max-width: 1200px;
    margin: 20px auto;
}

.block.sm {
    width: 100%;
    max-width: 800px;
}

.simulation {
    display: block;
    margin: 36px auto;
    width: 1000px;
    height: 540px;
    border: solid 1px #ccc;
}

.horizontal-graph {
    display: block;
    margin: 36px auto;
    width: 1000px;
    height: 220px;
}

.number {
    font-family: monospace;
    font-size: 1.4rem;
    line-height: 1.5rem;
}


dl {
    min-height: 20px;
}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
}
dt::after {
    content: ":";
}
dd {
    margin: 0 0 0 110px;
}

.btn .i { font-size: .8rem; }

/* CONTROLS */

.controls input { min-width: 5rem; }


/* FOOTER */

footer {
    display: block;
    text-align: center;
    width: auto;
    margin-top: 32px;
    padding: 15px;
    border-top: solid 1px #E4E7EB;
}
